@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins&display=swap%27');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* <!-- ------------------------------------ INÍCIO DO HEADER ------------------------------------ --> */
.selecionado{
color: purple;
}

nav{
    width: 100%;
    height: 80px;
    background: black;
}

label.logo{
    padding: 0 100px;
    line-height: 80px;
}

label.logo a{
    border: none;
}

label img{
    height: 70px;
    width: 130px;
    padding-top: 5px;
    border: transparent;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    font-family: 'Nunito', sans-serif;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icone{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media(max-width: 909px){
    nav #icone{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ;
    }
    nav li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    nav.active,a:hover{
        border: none;
        color: purple;
    }
    nav ul.slow{
        left: 0;
    }
}

/* <!-- ------------------------------------ FIM DO HEADER ------------------------------------ --> */

.slide_fotos {
    background-size: cover;
    height: calc(100vh - 80px);
    animation: changeBackgroundImage 13s infinite;
    align-items: center;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #0d0d0d65;
  }
  
  @keyframes changeBackgroundImage {
    0% {
      background-image: url('Imagens/fundo_legal1.png');
    }
    25% {
      background-image: url('Imagens/fundo_legal2.jpg');
    }
    50% {
      background-image: url('Imagens/fundo_legal3.jpg');
    }
    75% {
      background-image: url('Imagens/fundo_legal4.jpg');
    }
    100% {
      background-image: url('Imagens/fundo_legal1.png');
    }
  }

/* <!-- ------------------------------------ INÍCIO DA APRESENTAÇÃO ------------------------------------ --> */
.slide_fotos a{
    border: none;
}

.slide_fotos {
    text-align: center;
    width: 100%;
    height: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide_fotos p {
    font-family: 'Nunito', sans-serif;
    color: white;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    font-weight: 800;
    white-space: pre-line;
}

.logo_name{
    width: 65em;
    animation: go-back 1s;
    background-size: cover;
}

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 
  
  

.btn_inicial{
    font-family: 'Nunito', sans-serif;
    padding: 1em 5em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    display: inline-block;
    width: 272px;
    }

.btn_inicial {
        color: white;
        background: #0D0D0D;
      }
      
      .btn_inicial:hover{
        background: #F21616;
        transition: background 1s;
      }

.div_btn{
    display: inline-block;
}
    


/* <!-- ------------------------------------ INÍCIO DA APRESENTAÇÃO ------------------------------------ --> */

/* <!-- ------------------------------------ INÍCIO DOS SERVIÇOS ------------------------------------ --> */

.container-services {
    background-color: rgb(255 249 239);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #8c3a6f;
}

.container-services h1 {
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.container-services img {
    text-align: center;
    border-radius: 8em;
    height: 12em;
    width: 12em;
}

.content-img-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    padding-top: 25px;
}

@media(max-width: 1048px){
    .content-img-services{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 3em;
    }
}


.img-services h3 {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
}

.img-services p {
    font-family: 'Poppins', sans-serif;
    color: black;
    white-space: pre-line;
    font-weight: bold;
    font-size: 0.9em;
    padding-bottom: 50px;
}

.container-doubts {
    background-color:white;
    width: 100%;
    display: flex;
    height: 20em;
}  

.container-doubts p {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 0.05em;
}

.container-doubts button{
    font-family: 'Nunito', sans-serif;
    padding: 1em 5em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 0.5em;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding-top: 10px;
    width: 100%;
    display: block;
    }

.container-doubts button {
        color: white;
        background: black;
        transition: background 1s;
      }
      
      button:hover,
      button:focus {
        background: #F21616;
        color: white;
      }

.imagem{
    float: left;
    width: 50%;
}

.yasuo{
    width: 340px;

}

.box_duvidas{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

/* <!-- ------------------------------------ FIM DOS SERVIÇOS ------------------------------------ --> */

.btn_sobre{
    width: 200px;
    height: 40px;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    font-family: 'Nunito', sans-serif;
}


.btn_sobre{
    color: white;
    background: #0D0D0D;
  }
  
  .btn_sobre:hover{
    color: black;
    background: rgb(75, 75, 75);
    transition: background 1s;
    border: none;
  }

.box-time{
    width: 100%;
    height: 10em;
    border: none;
    position: relative;
}

.left-box-time{
    width: 50%;
    height: 350px;
    float: left;
    background-color: #943874;
    align-items: center;
    display: flex;
    text-align: center;
}

.left-box-time p{
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: white;
}

.right-box-time p{
    max-width: 600px;
}

.right-box-time{
    width: 50%;
    height: 350px;
    float: right;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #943874;
    
}

.descricao_time{
    font-size: 23px;
}

.right-box-time p{
    font-family: 'Nunito', sans-serif;
}

#nome_integrante{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: 23px;
    position: absolute;
    color: white;
}

.btn{
    height: 250px;
    width: 150px;  
}



.box-profile{
    cursor: pointer;
    z-index: 12;
    padding-left: 35px;
}


.box-profile-option{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #ccc;
    margin: 0;
}


/* <!-- ------------------------------------ INÍCIO DO FOOTER ------------------------------------ --> */

.container-footer {
    width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}

.container-footer p {
    font-family: 'Nunito', sans-serif;
    white-space: pre-line;
    color: #dee2e6;
}

/* <!-- ------------------------------------ FIM DO FOOTER ------------------------------------ --> */