@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins&display=swap%27');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* <!-- ------------------------------------ INÍCIO DO HEADER ------------------------------------ --> */
.selecionado{
color: purple;
}

nav{
    width: 100%;
    height: 80px;
    background: black;
}

label.logo{
    padding: 0 100px;
    line-height: 80px;
}

label.logo a{
    border: none;
}

label img{
    height: 70px;
    width: 130px;
    padding-top: 5px;
    border: transparent;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    font-family: 'Nunito', sans-serif;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icone{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media(max-width: 909px){
    nav #icone{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ;
    }
    nav li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    nav.active,a:hover{
        border: none;
        color: purple;
    }
    nav ul.slow{
        left: 0;
    }
    
}

/* <!-- ------------------------------------ FIM DO HEADER ------------------------------------ --> */

/* <!-- ------------------------------------ INÍCIO DA APRESENTAÇÃO ------------------------------------ --> */

.services{
    height: calc(100vh - 80px);
    background-color: #30402f;

}


.sombra {

    height: 100%;
    background: url("Imagens/Takeshi.jpg");
    background-size: 100%;
    background-repeat: no-repeat;   
    text-align: center;
    position: relative;
    opacity: 0.5;

}



/* .container-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}

.div-services{
    height: 34rem;
    width: 18rem;
    background-color: #8c3a6f;
    margin-right: 15px;
    float: left;
    border-radius: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
    font-family: 'Nunito', sans-serif;
}

.div-services .valor {
    background-color: #582847;
    height: 11rem;
    width: 18rem;
    padding-top: 2rem;
    border-radius: 1rem;
}

.div-services p{
    margin: 30px 22px 0;
    letter-spacing: 1px;  
}

.button-valor{
    margin: 32px auto 0;
    padding: 12px 42px 13px 41px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 30px;
    color: #8c3a6f;
    border-style: none;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.valor h5{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: none;
    color: #f2f2f2;
    font-size: 1.25rem;
    margin: 0 auto;
}

.valor .preco-real{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: none;
    color: #f2f2f2;
    width: 96px;
    font-size: 3.5rem;
    margin: 0 auto;
}

.valor span {
    color: #f2f2f2;
} 

.um {
    margin-top: 53px;
}

.tres {
    margin-top: 52px;
}

@media(max-width: 1048px){
    .container-services{
        display: grid;
        margin-left: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 3em;
    }
}
 */

/* <!-- ------------------------------------ INÍCIO DA APRESENTAÇÃO ------------------------------------ --> */

/* <!-- ------------------------------------ INÍCIO DOS SERVIÇOS ------------------------------------ --> */

/* <!-- ------------------------------------ FIM DOS SERVIÇOS ------------------------------------ --> */

/* <!-- ------------------------------------ INÍCIO DO FOOTER ------------------------------------ --> */

.container-footer {
    width: 100%;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-footer p {
    font-family: 'Nunito', sans-serif;
    white-space: pre-line;
    color: #dee2e6;
}

/* <!-- ------------------------------------ FIM DO FOOTER ------------------------------------ --> */